@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h3>Contact One Discovery</h3>

<address>
    ONE Discovery Inc.<br />
    6400 Arlington Blvd. Suite 750B
    Falls Church, VA 22042<br />
    <abbr title="Phone">P:</abbr>
    1-703-776-1918
</address>

<address>
    For More Information contact us throw the email <br />
    info@onediscovery.com
</address>

