@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1>@Session["UserName"] welcome to OneDiscovery </h1>

    <p>

        Who We Work With
        Since its beginnings more than a decade ago, ONE Discovery has been
        crafted, tweaked and tuned based on input from real-world eDiscovery and litigation support
        professionals. Best of all, it’s flexible enough to fit into existing workflows, processes
        and IT ecosystems. Any case, any organization, ONE Discovery is a fit.

    </p>
</div>